<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<h1>Login Form</h1>
<form method="post" action="/login">
	<p>
		<label for="username">Username:</label>
			<input type="text" name="username" autofocus 
							placeholder="username"><br>
	</p>
	<p>
		<label for="username">Password:</label>
			<input type="text" name="password" placeholder="password"><br><br>
	</p>
	<p>
			<input type="submit" value="Login!">
	</p>
</form>
		<a href="/signup">Brand New User? Sign Up!</a>


</body>
</html>