<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<h1>Sign Up Form</h1>


<form method="post" action="/newUser">
	<p>
		<label for="username">Username:</label>
			<input type="text" name="username" autofocus 
						 placeholder="username"><br>
	</p>
	<p>
		<label for="username">Password:</label>
			<input type="text" name="password" placeholder="password"><br><br>
	</p>
	<p>
			<input type="submit" value="Sign up!">
	</p>
</form>

</body>
</html>