<!DOCTYPE html>
<html>
<head>
	<title>Success</title>
	<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<h1>Success!</h1>

		<a href="/titles">View Blogs</a>
		<a href="/users">View Authors</a>


</body>
</html>